.portfolioCard {
    margin: 1px;
}

/* .tabletop {
    padding-left: 20%;
} */

.aboutBack {
    background: radial-gradient(circle, #02c2cd, #fce4e4);;
    /* padding-top: 2px; */
}
.text{
    color: #f7e290;
  }

.tourWords{
    text-align: center;
}
.tourTitle{
    text-align: center;
    font-size: 110px;
}