.portfolioCard {
    margin: 15px;
}

.tabletop {
    padding-left: 20%;
}

.aboutBack {
    background: radial-gradient(circle, #02c2cd, #fce4e4);
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .text{
    color: #f7e290;
    font-family: 'Raleway', sans-serif;
  }
  .text2{
    color: #f7e290;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  .fontSize{
    font-size:20px;
  }
  .boxer{
  
  text-align: center;
  }