nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navibar {
  
}

.navitext{
  /* background: seashell; */
  background: radial-gradient(circle, #b0c9af, #3e8c53, #05b334);
}

.text{
  color: #f7e290 !important;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}